@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,300,400,700|Karla:400,700|Notable|Zilla+Slab:300,400,500,700&display=swap');

.contact-form {
	display: none;
}

.c1,
.c2 {
	object-fit: contain;
	box-sizing: border-box;
	padding: 5px;
}

section {
	padding: 12px 0 30px 0;
}

info-section {
	padding: 6px 0;
}

.title {
	font-family: Notable;
	font-size: 2.5em !important;
	line-height: 1.2em !important;
	padding-bottom: 20px;
	font-weight: bolder !important;
	font-kerning: none !important;
	letter-spacing: 2px !important;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
}

.lesskerning {
	letter-spacing: -3px !important;
}

.horse {
	height: 50px;
	width: 50px;
	/* position: absolute;
  bottom:0;
  right:0; */
}

.icon {
	font-size: 1.8em;
	padding-bottom: 10px;
}

img {
	width: 100%;
	object-fit: contain;
	box-sizing: border-box;
	padding: 10px 0;
}

a {
	text-decoration: none;
	padding: 2px;
	display: inline-block;
	color: darkslategrey;
	outline: 0;
}

a:hover {
	color: gray;
	/* cursor: */
}

a:active {
	color: black;
}

a::after {
	/* display: inherit; */
	margin: 0 132px 0 0;
	font-family: 'Font Awesome 5 Free';
	font-weight: 100;
	/* content: ' ⤜'; */
}

p {
	font-size: 12px;
}

.bolder {
	font-weight: bolder;
}

li {
	font-size: 12px;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	padding: 20px 0 0 20px;
	z-index: -5;
	vertical-align: 36px;
}

hr {
	border: none;
	height: 2px;
	margin: 12px 0;
	color: black;
	background-color: black;
	/* Modern Browsers */
}

.flex-column {
	display: flex;
	flex-flow: column nowrap;
}

.flex-column > .project-info > p {
	padding: 0 20px 0 0;
}

.flex-grid {
	display: flex;
}

.col {
	flex: 1;
	flex-wrap: nowrap;
}

.form-control {
	border: none;
	border-bottom: 1px solid darkslategray;
	display: block;
	font-size: 12px;
	margin: 4px 0 14px 0;
}

.form-control::placeholder {
	font-family: 'IBM Plex Mono';
	color: lightgray;
	font-weight: 400;
	font-kerning: none;
	letter-spacing: 2px;
	line-height: 24px;
}

input[type='submit'] {
	font-family: 'IBM Plex Mono';
	color: gray;
	font-weight: 400;
	font-kerning: none;
	letter-spacing: 2px;
	line-height: 24px;
}

textarea {
	width: 100%;
}

@media (max-width: 600px) {
	.c1 {
		order: 2;
	}
	.c2 {
		order: 1;
	}
	.menu-content {
		visibility: hidden;
		display: none;
	}
}

@media (min-width: 600px) {
	.c1 {
		width: 70%;
		-webkit-order: 2;
		order: 2;
		height: 100%;
	}
	.c2 {
		width: 30%;
		-webkit-order: 1;
		order: 1;
		height: 100%;
		position: sticky;
		top: 0;
	}
	.half-size {
		width: 50%;
		object-fit: contain;
		box-sizing: border-box;
		padding: 10px 0 0 5px;
	}
	.two-col {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.title {
		font-size: 1.4em;
		padding-bottom: 20px;
		font-weight: bolder;
		font-kerning: none;
		letter-spacing: -2px;
		top: 0;
		left: 0;
	}
	.menu-content {
		visibility: visible;
	}
}
