
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  object-fit: contain;
  box-sizing: border-box;
  padding: 54px;
  font-family: 'IBM Plex Mono';
  color: rgb(22, 36, 36);
  font-weight: 400;
  font-kerning: none;
  letter-spacing: 1.2px;
  line-height: 1.2em;
}
